<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Image Processing App{% endblock %}</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Socket.IO -->
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-KiF9Gz0zXHRAQFqOEs/Lm9Fqg3ZzE8+f5B+R7T9yGHL7ZT7i0Yiu3S0SgozjWfP" crossorigin="anonymous"></script>
    <!-- Link to JavaScript -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <header>
        <h1>Image Processing App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.index') }}">Upload</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Image Processing App</p>
    </footer>
</body>
</html>